/* Header Style */

body {
    font-family: 'Gill Sans', 'Gill Sans MT';
}

.Container {
    width: 85%;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-paragraph {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.header-title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 700px;
    line-height: 80px;
}

/* 65% OFF section style */
.text-primary {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.text-primary2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500px;
}

.text-primary3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.discount-photo {
    margin-left: 980px;
}

/* MIDNIGHT PARTY SECTION DESIGN */

.midnight-party {
    color: #fff;
    background-image: url("/resources/Vectorrr.png");
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 1320px;
    height: 600px;
    margin-left: 720px;
    margin-top: 100px;
}

.midnight-title {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.midnight-paragraph {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: black;
}

.midnight-content {
    padding-left: 120px;
    padding-top: 100px;
    background-image: url("/resources/Group\ 70.png");
    background-repeat: no-repeat;
}

/* LOCATION SECTION DESIGN */

.location {
    text-align: center;
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.info-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.info-discription {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.location-btn {
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
}